.parallax-header{
    background: #000;
    background: url(../../src/Imagenes/inicio2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px #000;
}

.parallax-header-down{
    background: #000;
    background: url(../../src/Imagenes/inicio5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.text-center-l{
    color:#fff;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}

.header-content {
    padding: 100px 0 150px 0;
}

.content{
    margin-top: -80px;
    background: rgb(255, 243, 243);
    box-shadow: 0 0 20px -6px rgba(0, 0, 0, 0.2);
}

.content .left{
    padding-top: 80px;
}

.content .right{
    padding: 0;
}

.text-justify{
    text-align: justify;
}

.quote{
    margin-top: 50px;
    margin-left: 80px;
}